div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }

 
  .img {
    padding: 5px 30px;
    float: left;
    width: 25%;
    margin-bottom: 2.5rem;
  }

  .rooms{
    width: 100px;  
    height: 30px;   
    background-color: green; 
    color:white;
    margin-left: 5rem; 
    margin-bottom: 0.5rem;
  }
  
  @media only screen and (max-width: 700px) {
    .img {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .img {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }