body  
{  
    margin: 0;  
    padding: 0;  
    background-color: #ddd;  
    font-family: 'Arial';  
}  
.adlogin{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #000;  
        border-radius: 15px ;        
}  
h2{  
    text-align: center;  
    color: black;  
    padding: 20px;  
}  
label{  
    color: white;  
    font-size: 17px;  
} 
 #login{
     margin-left: 3rem;
 }
#pass, #id{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
 
#log, #back{  
    width: 100px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    color: blue; 
    margin-left: 2.5rem;  
}  

span{  
    color: white;  
    font-size: 17px;  
}  
 