:root {
    --primary-color: #3cb371;
    --secondary-color: DodgerBlue;
  }
  
  /* html,
  body {
    background-color: DodgerBlue;
    
  } */
  
  #navbar{
      left:0;
      top: 0;
      position: fixed;
      background-color: var(--primary-color);
      width: 100%;
  }
  #navbar ul {
    list-style: none;
  }
  
  #navbar ul li {
    color: #333;
    display: inline-block;
    padding: 0.25rem 1rem 0.25rem 1rem;
    position: relative;
  }
  
  #navbar ul li a {
    color: #333;
    text-decoration: none;
  }
  
  /* Hide Nested ul By Default */
  
  #navbar ul li ul {
    display: none;
  }
  
  #navbar ul li:hover {
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
  }
  
  #navbar ul li:hover a {
    color: black;
  }
  
  /* Nested Dropdown Show */
  
  #navbar ul li:hover ul {
    display: block;
    position: absolute;
    left: 0;
    width: 200px;
    margin-top: 1rem;
  }
  
  #navbar ul li:hover ul li {
    display: block;
    background: #e7e7e7;
  }
  
  #navbar ul li:hover ul li a {
    color: #333;
  }
  
  #navbar ul li:hover ul li:hover {
    background: #e0e0e0;
    color: inherit;
  }
  
  #navbar ul li:hover ul li span {
    float: right;
    color: #fff;
    background: var(--primary-color);
    padding: 0.2rem 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 5px;
  }
  
  #navbar ul li:hover ul li:hover span {
    background: var(--secondary-color);
  }
  

  .login{
      float: right;
      margin-right: 2rem;
  }
  
    /*To style container in index*/
     .container{
      margin-top: 5em;
      text-align: center;
    } 